@page "/lesson/{courseId:int}/{lessonId:int}"
@using FinalProject.Services
@inject CourseService CourseService

<h3>Урок</h3>

@code {
    [Parameter]
    public int courseId { get; set; }

    [Parameter]
    public int lessonId { get; set; }

    private Lesson lesson;
    private List<int> selectedAnswers = new List<int>();
    private TestResult result;

    protected override void OnInitialized()
    {
        lesson = CourseService.GetLesson(courseId, lessonId);
        selectedAnswers = new List<int>(new int[lesson.Questions.Count]);
    }

    private void SubmitTest()
    {
        result = CourseService.EvaluateTest(lesson, selectedAnswers);
    }
}

@if (lesson != null)
{
    <h4>@lesson.Title</h4>
    <p>@lesson.Content</p>

    <h5>Тест:</h5>
    
    <EditForm Model="selectedAnswers" OnValidSubmit="SubmitTest">
        @for (int i = 0; i < lesson.Questions.Count; i++)
        {
            <div>
                <label>@lesson.Questions[i].Text</label><br />
                @for (int j = 0; j < lesson.Questions[i].Answers.Count; j++)
                {
                    <div>
                        <input type="radio" id="q_@i_ans_@j" name="question_@i" value="@j" @bind="@selectedAnswers[i]" />
                        <label for="q_@i_ans_@j">@lesson.Questions[i].Answers[j]</label>
                    </div>
                }
            </div>
        }

        <button type="submit">Отправить тест</button>
    </EditForm>

    @if (result != null)
    {
        <h5>Результат теста:</h5>
        <p>Вы набрали @result.Score из @result.TotalQuestions.</p>
    }
}
else
{
    <p>Урок не найден.</p>
}